.input-highlight::selection {
	background-color: #3b82f6;
	color: white;
}

.interactive-onFocus {
	background-color: rgb(249, 250, 251);
	outline: none;
	transition: background-color 0.2s ease-in-out 0.05s, box-shadow 0.2s ease-in-out 0.05s;
}

.interactive-onFocus:hover {
	background-color: rgb(226, 232, 240);
}

.interactive-onFocus:focus {
	box-shadow: 0 0 0 3px #83c0ed;
	background-color: rgb(225, 232, 241);
}

.interactive-onFocus:active {
	box-shadow: 0 0 0 3px #83c0ed;
}

@keyframes openSidebar {
	0% {
		width: 0;
	}
	100% {
		width: 20%;
	}
}

.sidebar {
	animation: openSidebar 150ms ease-in-out forwards;
	width: 0;
}

@media (max-width: 768px) {
	.sidebar {
		width: 100%;
		animation: openSidebar 150ms ease-in-out forwards;
	}
}

@keyframes modalOpen {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.modal-animation {
	animation: modalOpen 0.2s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
